header{
  height: 120px;
  background-color: grey;
}


nav img {
  float: left; 
  margin-top: 10px;
  margin-right: 30px;
  padding-bottom: 15px;
}

li {
  display: inline-block;
  margin-left: 150px;
  margin-top: 50px;
  font-size: 1em;
}
h1{
  text-align: center;
  font-size: 4em;
  padding:  0px 280px 25px 350px;
 
}

#title{
  text-align: center;
  font-size: 4em;
  padding:  300px 280px 25px 350px;
}

#scoreboard{
  text-align: center;
  font-size: 4em;
  padding:  250px 280px 25px 350px;
}

#topscores{
  text-align: center;
  font-size: 2em;
  padding:  10px 280px 25px 350px
}

main p{
  text-align: center;
  margin: 0px 75px 0px 75px;
}

#hero{
  padding: 100px 75px 30px 170px;
}

#headshots li{

}
.biopic{
  display: inline-block;
  float: left;

}footer{
  margin: 0px 75px 0px 75px;
  text-align: center;
  padding: 10px 75px 10px 75px;
}


/* Scoreboard */

table {
  margin-left:auto; 
  margin-right:auto;
  letter-spacing: 1px;
}

th {
  background-color: rgba(155, 155, 155, 0.55);
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid black;
}

td {
  font-size: 20px;
  padding: 20px;
}