/* Header */

body {
  background-image: url('img/milky-way-2675322_1920.jpg');
  height: 100%;
}

#game-container {
 height: 650px;
 color: white;
}



/* Game Time */


#avatar {
  z-index: 2;
  height: 100px;
  position: absolute;
  margin-top: 450px;
  margin-left: 800px;
}



#shape1 {
  z-index: 2;
  height: 100px;
  position: absolute;
  margin-top: 200px;
  margin-left: 400px;
}

#glow1 {
box-shadow:
0 0 100px 50px #f0f,
0 0 140px 70px #0ff;
margin-top: 250px;
margin-left: 450px;
z-index: 1;
position: absolute;
padding: 5px;
width: 1px;
height: 1px;
border: 1px solid black;
}

#shape2 {
  z-index: 2;
  height: 100px;
  position: absolute;
  margin-top: 150px;
  margin-left: 700px;
  
}

#shape3 {
  z-index: 2;
  position: absolute;
  height: 100px;
  margin-top: 200px;
  margin-left: 1000px;
}

/* Riddle Divs */

#riddle1 {
  display: none;
  height: 50px;
  width: 400px;
  padding:20px;
  z-index: 2;
  text: justify; 
  position: absolute;
  margin-top: 350px;
  margin-left: 350px;
  line-height: 30px;
  font-size: 30px;
  letter-spacing: 2px;
}

#riddle2 {
  display: none;
  z-index: 2;
  position: absolute;
  height: 200px;
  width: 200px;
  background-color: cyan;
}

#riddle3 {
  display: none;
  z-index: 2;
  position: absolute;
  height: 200px;
  width: 200px;
  background-color:greenyellow;
}



#spaceship {
  z-index: 2;
  height: 200px;
  position: absolute;
  margin-left: 100px;
  margin-top: 300px;
}

#footer{
  background-color: black;
  /* width: 100%; */
  padding: 25px;
  border: 25px solid black;
}